# Dashboard domain. e.g. app.mydomain.com
NETBIRD_DOMAIN="{{ NETBIRD_DOMAIN }}"
# -------------------------------------------
# OIDC
#  e.g., https://example.eu.auth0.com/.well-known/openid-configuration
# ------------------------------------------
NETBIRD_AUTH_DEVICE_AUTH_PROVIDER=hosted
NETBIRD_AUTH_OIDC_CONFIGURATION_ENDPOINT="{{ NETBIRD_AUTH_OIDC_CONFIGURATION_ENDPOINT }}"
NETBIRD_USE_AUTH0=false
NETBIRD_AUTH_CLIENT_ID="netbird-client"
NETBIRD_AUTH_AUDIENCE="netbird-client"
NETBIRD_AUTH_DEVICE_AUTH_CLIENT_ID="netbird-client"
NETBIRD_MGMT_IDP=none
NETBIRD_IDP_MGMT_CLIENT_ID="netbird-backend"
NETBIRD_IDP_MGMT_CLIENT_SECRET="{{ NETBIRD_IDP_MGMT_CLIENT_SECRET }}"
NETBIRD_IDP_MGMT_EXTRA_ADMIN_ENDPOINT="{{ NETBIRD_IDP_MGMT_EXTRA_ADMIN_ENDPOINT }}"
NETBIRD_AUTH_SUPPORTED_SCOPES="openid profile email offline_access api"
# -------------------------------------------
# Letsencrypt
# -------------------------------------------
# Disable letsencrypt
#  if disabled, cannot use HTTPS anymore and requires setting up a reverse-proxy to do it instead
# e.g. hello@mydomain.com
NETBIRD_LETSENCRYPT_EMAIL="{{ NETBIRD_LETSENCRYPT_EMAIL }}"
# -------------------------------------------
# Extra settings
# -------------------------------------------
# Disable anonymous metrics collection, see more information at https://netbird.io/docs/FAQ/metrics-collection
NETBIRD_DISABLE_ANONYMOUS_METRICS=false
# DNS DOMAIN configures the domain name used for peer resolution. By default it is netbird.selfhosted
NETBIRD_MGMT_DNS_DOMAIN=netbird.selfhosted
